.create-recipe {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup,
.ingredientForm {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input[type="text"],
.textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #45a049;
}

.ingredient-section {
  margin-bottom: 20px;
}

.ingredient-form label {
  width: 100%;
}

.ingredient-list {
  margin-bottom: 20px;
}

.ingredient-list ul {
  list-style-type: none;
  padding: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ingredient-list li:last-child {
  border-bottom: none;
}