.recipe-details {
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details h1,
.recipe-details h2 {
  text-align: center;
  color: #333;
}

.recipe-details p {
  text-align: center;
  color: #666;
}

.ingredients-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ingredients-table th,
.ingredients-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ingredients-table th {
  background-color: #4CAF50;
  color: white;
}

.ingredients-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ingredients-table tr:hover {
  background-color: #ddd;
}