.weekly-meal-planner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.week-range, .week-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.week-navigation button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  flex: 0 0 30%;
}

.week-navigation button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

.meal-table-and-recipes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.meal-table {
  width: 75%;
  border-collapse: collapse;
}

.meal-table th,
.meal-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.meal-table th {
  background-color: #f4f4f4;
  text-align: center;
}

.meal-table td div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.meal-table td button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.meal-table td button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

.recipe-list-container {
  width: 20%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-list h3 {
  text-align: center;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.recipe-list li {
  padding: 8px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recipe-list li:hover {
  background-color: #f4f4f4;
}

.save-button-container {
  margin-top: 20px;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.save-button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}