@import '../App.css';

.weekly-meal-planner {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.week-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.week-navigation button {
  background-color: #45a049;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.week-navigation button:hover {
  background-color: #388e3c;
}

.week-navigation h2 {
  margin: 0 20px;
}

.weekly-meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.day-meals {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.day-meals h3 {
  margin: 0 0 10px 0;
}

.meal-list {
  list-style-type: none;
  padding: 0;
}

.meal-list li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.meal-list li:last-child {
  margin-bottom: 0;
}

.add-button {
  background-color: #45a049;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #388e3c; 
}