.daily-meal-planner {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.meal-planner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.day-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.day-navigation button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.day-navigation button:hover {
  background-color: #45a049;
  transform: scale(1.1)
}

.day-navigation h2 {
  margin: 0 20px;
}

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.meal {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal h3 {
  margin: 0;
  margin-bottom: 10px;
}

.meal button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.meal button:hover {
  background-color: #45a049;
  transform: scale(1.1)
  
}

.save-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #45a049;
  transform: scale(1.1)
}

.recipe-list-container {
  flex: 1;
  margin-left: 20px;
}

.recipe-list {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recipe-list input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.recipe-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.recipe-list li:last-child {
  border-bottom: none;
}

.recipe-list li:hover {
  background-color: #f1f1f1;
  transform: scale(1.1)
}

.recipe-list .selected {
  background-color: #d3ffd3;
}

.daily-meal-planner-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}